
<ion-header>
    
    
    
      <ion-navbar>
    
        <ion-title>User</ion-title>
    
      </ion-navbar>
    
    
    
    </ion-header>
    
    
    
    
    
    <ion-content padding>
    
      <div *ngIf=formsIsVisible class="blockUser">
    
      <label>nom</label>
    
      <ion-input style="border:#488aff solid 1px" [(ngModel)]=ingredient.name type="text"></ion-input>
    
      <label>Poid</label>
    
      <ion-input style="border:#488aff solid 1px" [(ngModel)]=ingredient.weight ></ion-input>
      <label>prix</label>
      
        <ion-input style="border:#488aff solid 1px" [(ngModel)]=ingredient.price ></ion-input>
    
      <br>
    
      <button ion-button secondary (click)="addingredient(event)">Ajouter</button>
    
    </div>
    
    
    
    <div *ngIf="msgIsVisible"> 
    
        <p>Félicitation {{user.username}} votre compte est créer</p>
    
    </div>
    
    </ion-content>